<main class="lista-vacantes">
    <h2>List of job postings</h2>
	
	{{!-- FIXME: This is not working on my browser, it doesn't show anything, I'm unable to find the problem. --}}
    {{!-- Job posts --}}
	{{#each jobs}}
		<h3>{{company}}</h3>
		
		{{!-- <p>Job company: {{this.company}}</p> --}}
		{{#with this}}
			<div class="vacante">
				<div class="caja">
					<h3>{{company}}</h3>
					<p class="puesto">{{title}}</p>
				</div>
				
				<div class="caja">
					<p class="etiqueta">
						Location
					</p>
					<p class="nombre">
						{{location}}
					</p>
				</div>
				
				<div class="caja">
					<p class="etiqueta">
						Contract
					</p>
					<p class="nombre contrato">
						{{contract}}
					</p>
				</div>
				
				<div class="caja centrar-vertical">
					<a href="/job/{{url}}" class="btn btn-verde">
						More information
					</a>
				</div>
			</div>
		{{/with}}
	{{else}}
		<p>There are no job posts!</p>
	{{/each}}
</main>
