<div class="contenido-superior vacante contenedor">
	<div class="caja">
		<p class="empresa">Company</p>
		<p class="nombre">{{{job.company}}}</p>
	</div>
	<div class="caja">
		<p class="etiqueta">Location</p>
		<p class="nombre">{{job.location}}</p>
	</div>
	<div class="caja">
		<p class="etiqueta">Contract</p>
		<p class="nombre">{{job.contract}}</p>
	</div>
	<div class="caja">
		<p class="etiqueta">Salary</p>
		<p class="nombre">${{job.salary}}</p>
	</div>
</div>

<div class="vacante-contenedor contenedor">
	<main class="contenido">
		<h2>Job description</h2>
		<div class="vacante-descripcion">
			{{{job.description}}}
		</div>
		
		<a href="/job/edit/{{job.url}}" class="btn btn-azul editar-btn">Edit job</a>
	</main>
	<aside class="sidebar">
		<h2>Required knowledge</h2>
		<ul class="skills">
			{{#each job.skills}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</aside>
</div>

<div class="contenedor datos-reclutador">
	<div class="enviar-datos">
		<h2>Contact Employer</h2>
		<p>Fill the formulary, upload your resume and we will contact you soon</p>
		
		<form
			method="POST"
			action="/job/{{job.url}}"
			class="default-form"
			enctype="multipart/form-data"
		>
			<div class="campo">
				<label for="name">Name</label>
                <input type="text" name="name" id="name" placeholer="Name" />
			</div>
			<div class="campo">
				<label for="email">E-Mail</label>
				<input type="email" name="email" id="email" placeholder="E-Mail" />
			</div>
			<div class="campo">
				<label for="resume">Upload resume(PDF)</label>
				<input type="file" name="resume" id="resume" placeholder="Resume" />
			</div>
			<div class="campo">
				<input type="submit" class="btn btn-verde" value="Send" />
			</div>
		</form>
	</div>
	
	<div class="info-reclutador">
		<h2>Employer information</h2>
		{{#if job.author.name}}
			{{job.author.name}}
		{{/if}}
		{{#if job.author.image}}
			<img src="/uploads/profile/{{job.author.image}}" alt="Employer image">
		{{/if}}
	</div>
</div>
